/*!********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./frontend/style/normalize.css ***!
  \********************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Ephesis&family=Lato&family=Montserrat:ital,wght@0,400;0,500;0,700;0,900;1,900&family=Open+Sans:ital,wght@0,400;1,300&family=Poppins&family=Roboto+Slab&family=Roboto:wght@300&display=swap);
/*!************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./frontend/style/normalize.css (1) ***!
  \************************************************************************************/
/* FONTS */

/*
font-family: 'Ephesis'
font-family: 'Lato'
font-family: 'Open Sans'
font-family: 'Poppins'
font-family: 'Roboto Slab'
font-family: 'Montserrat'
*/

html {
  font-size: 18px;
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  scroll-behavior: smooth;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
  text-align: center;
}

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent;
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
  text-align: center;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
  max-width: 100%;
}


button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
  * Show the overflow in IE.
  * 1. Show the overflow in Edge.
  */

button,
input { /* 1 */
  overflow: visible;
  border: none;
  outline: none;
}

button,
select { /* 1 */
  text-transform: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}


legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

progress {
  vertical-align: baseline;
}


textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px; /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
}

button {
  text-align: center;
}
/*!****************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./frontend/style/index.css ***!
  \****************************************************************************/
body {
  background: #f7f1e3;
}

main {
  background-image: url("https://www.marazzi.es/media/filer_public_thumbnails/filer_public/d2/0d/d20d920a-ecbd-4eac-9709-00b4c8cf0f9f/marazzi_plaza_015_ufficio.jpg__1920x0_q75_crop_subsampling-2.jpg");
  background-size: cover;
  margin: 5.2rem;
  margin-top: 1rem;
  height: 84vh;
  border-radius: 0.6rem;
  margin-bottom: 0;
  background-position: center;
}

.containerMain {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 8.5rem;
  color: #4b6584;
  backdrop-filter: brightness(0.8);
  border-radius: 0.6rem;
  box-shadow: 0 0 12px 0.5px #888, 0 0 6px 1.5px #aaa;
}

h1 {
  font-family: "Lato";
  font-size: 4.8em;
  font-weight: bold;
  margin-bottom: 0.6em;
  letter-spacing: 0.2rem;
  text-shadow: 0.1rem -0.2rem 0.2rem #333;
}

#searchProyect {
  width: 100%;
  margin: auto;
  padding: 1rem 2.2rem;
  border-radius: 2rem;
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1.6rem;
  background: #f7f1e3;
  opacity: .9;
}

#searchProyect:focus {
  box-shadow: 0 0 8px 0.6px #444;
}

li {
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: bold;
  padding: 0.8rem 1rem;
  background: #d1d8e0;
  display: flex;
  cursor: pointer;
  opacity: 0.75;
  min-height: 3rem;
  max-height: 3rem;
}

li:hover {
  background: #a5b1c2;
}

#particles-js {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

.search-bar {
  display: flex;
  width: min-content;
  width: 50rem;
  margin: auto;
  align-items: center;
  justify-content: center;
  position: relative;
}

.search-bar i {
  color: #4b6584;
  font-size: 1.4rem;
  position: absolute;
  right: 0;
  margin-right: 1.2rem;
  margin-bottom: 1.8rem;
}

#searchProyect:focus {
  font-weight: normal;
  color: #4b6584;
  font-weight: 500;
}

.text-efect {
  display: block;
  white-space: nowrap;
  border-right: 4px solid #000;
  width: 15ch;
  animation: typing 2s steps(15) alternate infinite,
    blink 0.5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

#searchProyect:focus::placeholder {
  font-weight: bold;
}

.proyect-date {
  width: 20%;
  text-align: center;
  letter-spacing: 0.02rem;
  font-size: 1rem;
  color: #2f6382;
}

.proyect-name {
  width: 80%;
  text-align: left;
  padding-left: 3rem;
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 0.02rem;
  color: #2f6382;
}

.title-alert {
  font-family: "Montserrat";
  font-size: 1.8rem;
  font-weight: bold;
  color: #f7f1e3;
  text-transform: capitalize;
}

.information-proyect {
  font-family: "Poppins";
  font-size: 1.2rem;
  font-weight: bold;
  color: #f7f1e3;
}

.information-proyect-button {
  background: #d1d8e0;
  padding: 1rem 1.2rem;
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 0.4rem;
  margin: 1rem 0;
  color: #333;
}

.information-proyect-button:hover {
  background: #a5b1c2;
}

ol {
  box-shadow: 0 0 4px 0.05px #4b6584;
  max-height: 44.5vh;
  overflow-y: auto;
}

h1 span {
  font-size: 1.28em;
  letter-spacing: -0.6rem;
  color: #3c6382;
  font-family: "Lato";
  font-weight: bold;
  filter: brightness(1.1);
}

.bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-options {
  display: flex;
  align-items: center;
}

.change-options {
  width: 4.4rem;
  height: 2.2rem;
  border-radius: 4rem;
  background: #3c6382;
  padding: 0 0.2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 1.2rem;
  margin-left: 1.6rem;
}

.change-options div {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  background: #f7f1e3;
  transform: translate(0, 0);
}

.change-page {
  animation-name: change-option-page;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.change-search {
  animation-name: change-option-search;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes change-option-page {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(1.8rem, 0);
  }
}

@keyframes change-option-search {
  0% {
    transform: translate(1.8rem, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* change options */

.main-container-change {
  display: flex;
  flex-direction: column;
}

.container-title-options {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.container-title-options h2 {
  font-family: "Montserrat";
  font-size: 2rem;
  color: #0984e3;
  letter-spacing: 0.02rem;
  background: rgba(255, 2555, 255, 0.25);
  background: linear-gradient(to right, #0984e3, #74b9ff);
  padding: 0.4rem 2.6rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 2px 0.05px #0984e3;
  color: #f7f1e3;
}

.change-option {
  color: #f7f1e3;
  text-shadow: none;
  text-shadow: 1px -1px 10px #74b9ff;
}

.change-option span {
  color: #f7f1e3;
  filter: none;
}

.container-main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 8.5rem;
  backdrop-filter: brightness(0.6);
  border-radius: 0.6rem;
  box-shadow: none;
  box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.2);
}

.container-options {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin: auto;
  height: 40vh;
  border-radius: 0.3rem;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 12px 0.5px #888;
}

.btn-append-proyect,
.btn-remove-proyect {
  font-family: "Lato";
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 0.5rem;
  color: #f7f1e3;
  margin-top: 2.5rem;
  margin-left: 2.5rem;
  max-height: 6.5rem;
  max-width: 6.5rem;
  min-height: 6.5rem;
  min-width: 6.5rem;
  background: linear-gradient(45deg, #0984e3, #74b9ff);
  cursor: pointer;
}

.btn-append-proyect:hover,
.btn-remove-proyect:hover {
  filter: brightness(1.1);
  box-shadow: 0 0 12px 0.5px #888, 0 0 6px 1.5px #aaa;
}

#proyects::-webkit-scrollbar {
  width: 0.8rem;
}

#proyects::-webkit-scrollbar-thumb {
  background: #4b6584;
  border-radius: 2rem;
}

#proyects::-webkit-scrollbar-thumb:hover {
  background: #2f6382;
}

.alert-btn-add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
  margin: 0;
}

.input-name-proyect {
  font-family: poppins;
  font-size: 20px;
  font-weight: normal;
  background-color: transparent;
  padding: .4rem .6rem;

  border-bottom: 4px solid #0984e3;
  color: #d1d8e0;
}

.input-name-proyect::placeholder {
  color: #74b9ff;
}

.title-add-proyect {
  font-family: montserrat;
  font-size: 32px;
  font-weight: bold;
  color: #d1d8e0
}

.btn-name-proyect {
  padding: .6rem;
  font-family: poppins;
  font-size: 18px;
  background-color: #0984e3;
  color: #d1d8e0;
  font-weight: bold;
  margin-top: .8rem;
  border-radius: .4rem;

  transition: background-color .2s;
  cursor: pointer;
}

.btn-name-proyect:hover {
  background-color: #2056f0;
}

.input-error {
  border: 1px solid #ff3f34;
  color: #ff5e57;
}
/*!*******************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./frontend/style/indexMin.css ***!
  \*******************************************************************************/
@media only screen and (max-width:600px) {

    .change-options {
        display: none;
    }

    main {
        background-image: url('https://www.marazzi.es/media/filer_public_thumbnails/filer_public/d2/0d/d20d920a-ecbd-4eac-9709-00b4c8cf0f9f/marazzi_plaza_015_ufficio.jpg__1920x0_q75_crop_subsampling-2.jpg');
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: 100vw;
        border-radius: 0;
        box-shadow: 0 0 12px .5px #888, 0 0 6px 1.5px #aaa;
        margin: 0;
    }
    
    .containerMain {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        color: #4b6584;
        backdrop-filter: brightness(.65);
        border-radius: 0;
        padding: 0 1rem;
    }
    
    h1 {
        font-family: 'Lato';
        font-size: 3em;
        font-weight: bold;
        margin-bottom: .6em;
        letter-spacing: .2rem;
        text-shadow: .1rem -.2rem .2rem #333;
        margin-top: 2rem;
    }
    
    input {
        width: 100%;
        margin: auto;
        padding: .8rem 1.4rem;
        border-radius: 2rem;
        font-family: 'Montserrat';
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 1rem;
        background: #f7f1e3;
    }
    
    input:focus {
        box-shadow: 0 0 8px .6px #444;
    }
    
    li {
        font-family: 'Poppins';
        font-size: 1rem;
        font-weight: bold;
        padding: .8rem 1rem;
        background: #d1d8e0;
        display: flex;
        cursor: pointer;
        opacity: .85;
        min-height: 2.8rem;
        max-height: 2.8rem;
        margin: .08rem 0;
        border-radius: .6rem;
    }

    ol {
        box-shadow: none;
        max-height: 49.5vh;
        overflow-y: auto;
    }

    .proyect-date {
        width: 20%;
        text-align: center;
        letter-spacing: .01rem;
        font-size: .85rem;
    }
    
    .proyect-name {
        width: 80%;
        text-align: left;
        padding-left: 3rem;
        font-size: .85rem;
        text-transform: capitalize;
        letter-spacing: .01rem;
    }

    .search-bar i {
        color: #4b6584;
        font-size: 1.2rem;
        position: absolute;
        right: 0;
        margin-right: 1.2rem;
        margin-bottom: .9rem;
        padding-left: none;
    }

    .container-change-options-2 {
        display: flex;
        justify-content: center;
        margin-top: 6vh;
        margin-bottom: 3vh;
    }
    .change-options-2 {
        width: 3.5rem;
        height: 3.5rem;
        background: #4b6584;
        border-radius: 50%;
        cursor: pointer;
    }
}
/*!****************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./frontend/style/modal.css ***!
  \****************************************************************************/
/* VENTANA */

.ventana {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 50vw;
  height: 90vh;
  background: #f7f1e3;
  box-shadow: 0 0 6px 1px #888;
}

.modal {
  position: fixed;
  inset: 0;
  display: flex;
  background-color: #000000aa;
  width: 100vw;
  transition: transform 0.5s;
  transform: translate(100%);
  align-items: center;
  justify-content: center;

  & .border-gradient-modal {
    position: relative;
    background: linear-gradient(45deg, #0a3d62, #4b6584, #d1d8e0, #778ca3);
    display: flex;
    box-shadow: 0 0 4px 0.5px #555, 0 0 12px 2px #666;
    flex-direction: column;
    border-radius: 0.4rem;
    padding: 0.6rem;
    & div {
      background: #f7f1e0;
      width: 100%;
      height: 100%;
      border-radius: 0.4rem;
      position: relative;
      align-items: center;
      & h2 {
        text-align: center;
        color: #4b6584;
        font-family: "Lato";
        font-size: 3em;
        font-weight: bold;
        margin-bottom: 0.6em;
        letter-spacing: 0.2rem;
        text-shadow: 0.05rem -0.1rem 0.1rem #a5b1c2;
        margin-top: 2rem;
        text-transform: capitalize;
      }

      & a {
        position: absolute;
        top: 0;
        right: 0;
        width: auto;
        background: #b71540;
        color: #fff;
        font-weight: bold;
        font-family: montserrat;
        display: grid;
        place-items: center;
        padding: 0.8rem 1.6rem;
        border-bottom-left-radius: 1.2rem;
        border-top-left-radius: 1.2rem;
        font-size: 1rem;
        margin-top: 2.4rem;
      }

      & a:hover {
        background: #db0f45;
        box-shadow: 0 0 2.3px 0.5px #333;
      }
    }
  }
}

.modal:target {
  transform: translate(0);
}

.link-model {
  border: none;
  outline: none;
}

.container-buttons-modal {
  display: flex;
  justify-content: center;
  border-radius: 0;
  min-width: 100%;
}

.container-buttons-modal button {
  font-family: poppins;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 0.2rem;
  background: #4b65a4;
  color: #f7f1e3;
  max-height: 3rem;
  margin: 2rem;
  transition: background .2s;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, .3);
}

.container-buttons-modal button:hover {
  background: #4b82d2;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, .3);
}

#luz-verde {
  background: linear-gradient(to right, #05c46b 1%, #0be881 99%);
}

#luz-amarilla {
  background: linear-gradient(to right, #ffd32a 1%, #ffdd59 99%);
}

#luz-roja {
  background: linear-gradient(to right, #ff3f34 1%, #ff5e57 99%);
}

.brilla-verde {
  filter: contrast(1.4) brightness(1.4);
  border: 5px solid rgba(0, 0, 0, .4);
}

.brilla-amarilla {
  filter: contrast(1.4) brightness(1.4);
  border: 5px solid rgba(0, 0, 0, .4);
}

.brilla-roja {
  filter: contrast(1.4) brightness(1.4);
  border: 5px solid rgba(0, 0, 0, .4);
}

#semaforo {
  width: 100%;
  height: 40px;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  margin: .6rem 0;
}
/*!****************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./frontend/style/alert.css ***!
  \****************************************************************************/
.etapa-options {
	display: flex;
	gap: 8px;
	padding: .2rem 0;
	flex-wrap: wrap;
	justify-content: center;
}

.etapa {
	font-family: poppins;
	font-size: 20px;
	padding: .2rem .6rem;
	border-radius: .4rem;
	color: #3c6382;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, .2);
	text-transform: capitalize;
	transition: background-color .3s;
	transition: color .3s;
	border: 4px solid #09a4e3;
}

.contacto-con-cliente {
	background-color: #74b9ff;
}

.analisis-de-requerimientos {
	background-color: #74b9ff;
}

.preparacion-de-oferta {
	background-color: #74b9ff;
}

.negociacion {
	background-color: #74b9ff;
}

.inicio {
	background-color: #74b9ff;
}

.etapa:hover {
	background-color: #0984e3;
	color: #fff;
	border: 4px solid #0984e3;
}

.etapa-actual {
	background-color: #05c46b;
	filter: contrast(1.4) brightness(1.4);
  border: 4px solid rgba(0, 0, 0, .4);
}

.etapa-actual:hover {
	background-color: #05c46b;
	filter: contrast(1.4) brightness(1.4);
  border: 4px solid rgba(0, 0, 0, .4);
}


#proyecto-actual {
	display: flex;
	flex-direction: column;
	align-items: start;
	width: 100%;

	display: none;
	
	padding: 0 2.2rem;
	& p {
		font-family: poppins;
		font-size: 18px;
		color: #fff;
	}

	& span {
		font-family: poppins;
		font-size: 20px;
		font-weight: bold;
		color:#74b9ff;
		text-transform: capitalize;
		margin-right: 6px;
	}
}

/*# sourceMappingURL=bundle.css.map*/